@font-face {
    font-family: 'a'; /* Font A */
    src: url('fonts/a.otf') format('opentype'); /* .ttf */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'b'; /* Font B */
    src: url('fonts/b.ttf') format('truetype'); /* .ttf */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'c'; /* Font C */
    src: url('fonts/c.ttf') format('truetype'); /* .ttf */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'd'; /* Font D */
    src: url('fonts/d.ttf') format('truetype'); /* .ttf */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'e'; /* Font E */
    src: url('fonts/e.ttf') format('truetype'); /* .ttf */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'f'; /* Font F */
    src: url('fonts/f.ttf') format('truetype'); /* .ttf */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'g'; /* Font G */
    src: url('fonts/g.ttf') format('truetype'); /* .ttf */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'h'; /* Font H */
    src: url('fonts/h.otf') format('opentype'); /* .otf */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'i'; /* Font I */
    src: url('fonts/i.ttf') format('truetype'); /* .ttf */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'j'; /* Font J */
    src: url('fonts/j.ttf') format('truetype'); /* .ttf */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'k'; /* Font K */
    src: url('fonts/k.otf') format('opentype'); /* .otf */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'l'; /* Font L */
    src: url('fonts/l.ttf') format('truetype'); /* .ttf */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'm'; /* Font M */
    src: url('fonts/m.ttf') format('truetype'); /* .ttf */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'n'; /* Font N */
    src: url('fonts/n.ttf') format('truetype'); /* .ttf */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'o'; /* Font O */
    src: url('fonts/o.ttf') format('truetype'); /* .ttf */
    font-weight: normal;
    font-style: normal;
}

/* Add more @font-face rules as needed for other fonts */
